@model LEA_ProyectoMultimedia2024_V2_.Models.Tables.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar cliente</h1>


<hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ClienteId" />
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Apellido" class="control-label"></label>
                        <input asp-for="Apellido" class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="CorreoElectronico" class="control-label"></label>
                        <input asp-for="CorreoElectronico" class="form-control" />
                        <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="Sexo" class="control-label"></label>
                        <input asp-for="Sexo" class="form-control" />
                        <span asp-validation-for="Sexo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">

                    <div class="form-group">
                        <label asp-for="Edad" class="control-label"></label>
                        <input asp-for="Edad" class="form-control" />
                        <span asp-validation-for="Edad" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 text-end">
                    <a asp-action="Index" class="btn btn-info">Volver</a>
            <input type="submit" value="Guardar" class="btn btn-primary" />
                </div>
            </div>


        </form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
