@model LEA_ProyectoMultimedia2024_V2_.Models.Tables.Categoria

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles De la categoria</h1>


    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control input-disabled" disabled />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
            <input asp-for="Descripcion" class="form-control input-disabled" disabled />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Pesokg" class="control-label"></label>
            <input asp-for="Pesokg" class="form-control input-disabled" disabled />
                <span asp-validation-for="Pesokg" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-end">
            <a asp-action="Index" asp-controller="Mantenedores" class="btn btn-info">Volver</a>
        <button class="btn btn-success" onclick=" EditCategorias(@Model?.CategoriaId)">Editar Categoria</button>

        </div>
    </div>



