@model LEA_ProyectoMultimedia2024_V2_.Models.DTOs.CategoriaDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar categoria</h1>


<hr />

<form asp-action="PVEdit" id="CEdit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CategoriaId" />
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Pesokg" class="control-label"></label>
                <input asp-for="Pesokg" class="form-control" />
                <span asp-validation-for="Pesokg" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-end">
            <a asp-action="Index" asp-controller="Mantenedores" class="btn btn-info">Volver</a>
            <input type="submit" value="Crear Categoria" class=" btn btn-success" />
        </div>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#CEdit").on("submit", function (e) {
                e.preventDefault();

                $.ajax({
                    url: '@Url.Action("PVEdit", "Categorias")',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            window.location.href = '@Url.Action("Index", "Mantenedores")';
                        } else {
                            $("span.text-danger").html("");
                            $.each(response.errors, function (key, value) {
                                $('span[data-valmsg-for="' + key + '"]').html(value.join("<br>"));
                            });
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error("Error en la solicitud AJAX:", textStatus, errorThrown);
                        alert("Ocurrió un error al procesar la solicitud.");
                    }
                });
            });
        });

    </script>
}
