@model LEA_ProyectoMultimedia2024_V2_.Models.Tables.Descuento

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar producto en descuento </h1>


<hr />
<form asp-action="PVEdit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="DescuentoId" />

<div class="row">
    <div class="col-4">
                    <div class="form-group">
                        <label asp-for="PorcentajeDescuento" class="control-label"></label>
                        <input asp-for="PorcentajeDescuento" class="form-control" />
                        <span asp-validation-for="PorcentajeDescuento" class="text-danger"></span>
                    </div>
    </div>   
    <div class="col-4">
                    <div class="form-group">
                        <label asp-for="FechaInicio" class="control-label"></label>
                        <input asp-for="FechaInicio" class="form-control" />
                        <span asp-validation-for="FechaInicio" class="text-danger"></span>
                    </div>
    </div>
</div>
    <div class="col-4">
                <div class="form-group">
                    <label asp-for="FechaFin" class="control-label"></label>
                    <input asp-for="FechaFin" class="form-control" />
                    <span asp-validation-for="FechaFin" class="text-danger"></span>
                </div>
    </div> 
 <div class="row">
        <div class="col-4">

            <div class="form-group">
                <label asp-for="TipoDescuento" class="control-label"></label>
                <input asp-for="TipoDescuento" class="form-control" />
                <span asp-validation-for="TipoDescuento" class="text-danger"></span>
            </div>
 </div>

 </div>
</div>
        <div class="row">
            <div class="col-12 text-end">
                <a asp-action="Index" class="btn btn-info">Volver</a>
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </form>
    </div>






@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
