@model LEA_ProyectoMultimedia2024_V2_.Models.Tables.DetalleOrden

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar detalle de orden</h1>


<hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DetalleId" />

<div class="row">
    <div class="col-4">
            <div class="form-group">
                <label asp-for="OrdenId" class="control-label"></label>
                <select asp-for="OrdenId" class="form-control" asp-items="ViewBag.OrdenId"></select>
                <span asp-validation-for="OrdenId" class="text-danger"></span>
            </div>
    </div>
    <div class="col-4">
            <div class="form-group">
                <label asp-for="ProductoId" class="control-label"></label>
                <select asp-for="ProductoId" class="form-control" asp-items="ViewBag.ProductoId"></select>
                <span asp-validation-for="ProductoId" class="text-danger"></span>
            </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
    </div>
    <div class="col-4">
            <div class="form-group">
                <label asp-for="PrecioTotal" class="control-label"></label>
                <input asp-for="PrecioTotal" class="form-control" />
                <span asp-validation-for="PrecioTotal" class="text-danger"></span>
            </div>
    </div>
</div>
    <div class="row">
        <div class="col-12 text-end">
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info">volver</a>
            </div>
        </div>
    </div>
         
        </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
