@model LEA_ProyectoMultimedia2024_V2_.Models.DTOs.ProductoDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Crear producto</h1>


<hr />
<form asp-action="PVCreate" id="PCreate" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">

        <div class="col-4">
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control"  />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control"  />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control"  />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control"  />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Procedencia" class="control-label"></label>
                <input asp-for="Procedencia" class="form-control"  />
                <span asp-validation-for="Procedencia" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">

            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control"  />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control"  />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">

            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control form-select" asp-items="ViewBag.CategoriaId"></select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-end">

            <input type="submit" value="Crear producto" class="btn btn-success" />
            <a asp-action="Index" asp-controller="Mantenedores" class="btn btn-info">Volver</a>
        </div>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#PCreate").on("submit", function (e) {
                e.preventDefault();

                $.ajax({
                    url: '@Url.Action("PVCreate", "Producto")',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function (response) {
                        if (response.success) {
                            window.location.href = '@Url.Action("Index", "Mantenedores")';
                        } else {
                            $("span.text-danger").html("");
                            $.each(response.errors, function (key, value) {
                                $('span[data-valmsg-for="' + key + '"]').html(value.join("<br>"));
                            });
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error("Error en la solicitud AJAX:", textStatus, errorThrown);
                        alert("Ocurrió un error al procesar la solicitud.");
                    }
                });
            });
        });

        $(document).ready(function () {
            $("#PCreate").on("submit", function (e) {
                e.preventDefault();

                $.ajax({

                });
            });
        });

    </script>
}
