@model LEA_ProyectoMultimedia2024_V2_.Models.Tables.Producto

@{
    ViewData["Title"] = "Edit";
}

<h1>detalles del producto</h1>


<hr />

    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>


            </div>


        </div>
        <div class="col-4">

            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">

            <div class="form-group">
                <label asp-for="Procedencia" class="control-label"></label>
                <input asp-for="Procedencia" class="form-control" />
                <span asp-validation-for="Procedencia" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                <span asp-validation-for="CategoriaId" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-end">
        <button class="btn btn-success" onclick="EditProductos(@Model?.ProductoId)">Editar Producto</button>
        <a asp-action="Index" asp-controller="Mantenedores" class="btn btn-info">Volver</a>
        </div>
    </div>

